<footer class="footer">
    <div class="container">
        <nav class="footer_nav d-flex flex-wrap justify-content-md-between justify-content-lg-around">
            <div class="footer_nav-group col-12 col-sm-6 col-md-auto">
                <h4 class="footer_nav-group_title">Products</h4>
                <ul class="footer_nav-group_list">
                    <li class="list-item">
                        <a href="javascript:void(0)">Gaming</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Graphic Design</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Office</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Family</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Personalized</a>
                    </li>
                </ul>
            </div>
            <div class="footer_nav-group col-12 col-sm-6 col-md-auto">
                <h4 class="footer_nav-group_title">Showrooms</h4>
                <ul class="footer_nav-group_list">
                    <li class="list-item">
                        <a href="javascript:void(0)">Showroom Washington, D.C.</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Showroom New York City</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Showroom San Francisco</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Showroom Hoston</a>
                    </li>
                </ul>
            </div>
            <div class="footer_nav-group col-12 col-sm-6 col-md-auto">
                <h4 class="footer_nav-group_title">Family members</h4>
                <ul class="footer_nav-group_list">
                    <li class="list-item">
                        <a href="javascript:void(0)">Electros Softwares</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Tera Tech Labư</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">TC Predator Gaming</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">SpacePlay</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">V-Poweration</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">AX3 AI System</a>
                    </li>
                </ul>
            </div>
            <div class="footer_nav-group col-12 col-sm-6 col-md-auto">
                <h4 class="footer_nav-group_title">Help center</h4>
                <ul class="footer_nav-group_list">
                    <li class="list-item">
                        <a href="javascript:void(0)">FAQs</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Terms of Use</a>
                    </li>
                    <li class="list-item">
                        <a href="javascript:void(0)">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </nav>
        <p class="footer_copy">
            Copyright &copy; 2020 TechGear Inc. All rights reserved
        </p>
    </div>
    <script src="js/bundle.js"></script>
</footer>