<header class="header">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <a href="index.html" class="header_brand brand">techgear</a>
        <nav class="header_nav">
            <ul class="header_nav-list">
                <li class="list-item">
                    <a href="#home">home</a>
                </li>
                <li class="list-item">
                    <a href="#products">products</a>
                </li>
                <li class="list-item">
                    <a href="#services">services</a>
                </li>
                <li class="list-item">
                    <a href="#members">members</a>
                </li>
                <li class="list-item">
                    <a href="#contacts">contacts</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="hamburger">
            <span class="line line--1"></span>
            <span class="line line--2"></span>
            <span class="line line--3"></span>
        </button>
    </div>
</header>