.members {
    margin-bottom: 60px;
    .slider-wrapper {
        position: relative;
        overflow: hidden;
    }
    &_slider {
        &-slide {
            .wrapper {
                text-align: center;
                padding: 20px;
                background: rgba(#fff, 0.2);
                border-radius: 10px;
            }
            img {
                width: auto;
                margin: 0 auto;
                min-height: 142px;
            }
            .member-brand {
                font-size: 14px;
                line-height: 19px;
                margin-top: 20px;
            }
        }
        &-controls {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            .slider-control {
                width: 33px;
                height: 33px;
                border: 2px solid transparent;
                border-radius: 5px;
                font-size: 26px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease;
                &[aria-disabled="true"] {
                    opacity: 0.5;
                    cursor: default;
                }
                &:hover:not([aria-disabled="true"]),
                &:focus:not([aria-disabled="true"]) {
                    border-color: $blue;
                    color: $blue;
                    background: transparent;
                    text-shadow: 1px 1px 5px rgba($blue, 0.7);
                    box-shadow: 1px 1px 8px rgba($blue, 0.7);
                }
            }
        }
    }
}

@media screen and (min-width: 575.98px) {
    .members {
        &_slider {
            &-slide {
                img {
                    max-height: 108px;
                    min-height: unset;
                }
            }
            &-controls {
                padding: 0;
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .members {
        padding-bottom: 120px;
        &_slider {
            &-controls {
                .slider-control {
                    width: 44px;
                    height: 44px;
                }
            }
        }
    }
}
