.products {
    &_list {
        margin-bottom: 60px;
        &-item {
            .wrapper {
                margin-top: 20px;
                position: relative;
                max-height: 240px;
            }
            .card {
                background: rgba(#fff, 0.3);
                border-radius: 10px;
                text-align: center;
                text-transform: capitalize;
                padding: 0 30px 20px;
                height: 200px;
                position: absolute;
                width: 100%;
                bottom: 0;
                z-index: -1;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            &_category {
                font-weight: $bold;
                font-size: 20px;
                line-height: 27px;
                transition: all 0.4s ease;
                position: absolute;
                z-index: 1000;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                &:hover,
                &:focus {
                    text-shadow: 1px 1px 5px rgba($blue, 0.7);
                }
            }
            &_img {
                padding-bottom: 60px;
                img {
                    max-width: 90%;
                    object-fit: contain;
                    max-height: 220px;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .products {
        &_list {
            margin-bottom: 120px;
            &-item {
                .wrapper {
                    margin-top: 0;
                }
                &_category {
                    font-size: 14px;
                    line-height: 20px;
                }
                .card {
                    height: 180px;
                }
                &_img {
                    padding-bottom: 80px;
                    img {
                        max-width: 90%;
                        object-fit: contain;
                        max-height: 200px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .products {
        &_list {
            &-item {
                &_category {
                    font-size: 20px;
                    line-height: 27px;
                }
            }
        }
    }
}
