.services {
    padding-bottom: 60px;
    &_list {
        &-item {
            .wrapper {
                background: rgba(#fff, 0.3);
                border-radius: 10px;
                padding: 0 20px 20px;
            }
            &_img {
                margin-top: -30px;
            }
            &_text {
                .title {
                    text-align: center;
                    font-size: 20px;
                    font-weight: $semi;
                    line-height: 30px;
                    margin-bottom: 12px;
                    letter-spacing: 1px;
                }
                .description {
                    font-size: 14px;
                    line-height: 19px;
                    text-align: justify;
                }
            }
        }
    }
}

@media screen and (min-width: 575.98px) {
    .services {
        &_list {
            &-item {
                .wrapper {
                    padding: 20px 10px;
                }
                &_img {
                    margin-top: -60px;
                    padding-right: 15px;
                }
                &_text {
                    .title,
                    .description {
                        text-align: left;
                    }
                    .description {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .services {
        &_list {
            &-item {
                .wrapper {
                    padding: 30px;
                }
                &_img {
                    margin-top: -80px;
                    padding: 30px;
                }
                &_text {
                    .title,
                    .description {
                        text-align: center;
                    }
                    .description {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .services {
        padding-bottom: 140px;
        &_list {
            &-item {
                .wrapper {
                    padding: 10px 15px;
                }
                &_img {
                    margin-top: -40px;
                    padding: 0 15px 0 0;
                }
                &_text {
                    .title,
                    .description {
                        text-align: left;
                    }
                }
            }
        }
    }
}
